/*Mobile*/

@media (max-width: 900px) {
  .Navigation{
    display: none;
  }
  .MobileTopBar .titleContent{
    color: rgba(0, 0, 0, 0.74);
    padding: 5px;
    font-size: 10px;
  }
  .MobileTopBar{
    display: flex;
    background: rgb(100,212,221);
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: white 1px ridge;
  }
  .MobileTopBar .menubtn{
    position: absolute;
    right: 5%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem; 
  }
  .MobileTopBar .closebtn{
    position: absolute;
    right: 5%;
    padding: 8px;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .MobileTopBar .fa-bars:hover{
    color: blueviolet;
    background: white;
  }
  .MobileTopBar span i{
    color: rgb(255, 254, 254);
    font-size: 1rem;
    padding: 10px;
  }
  .MobileTopBar span h4{
    color: antiquewhite;
    font-size:1rem
  }
  .MobileTopBar .linksContainer {
    display: flex;
    flex-direction: column;
    top: 60px;
    position: absolute;
    left: 0;
    padding: 8px;
    background: #181818;
    width: 100%;
  }
}
/*Computer screen*/
@media (min-width: 900px) {
.Navigation{
  width: 100%;
  background: rgb(100,212,221);
  height: 50px;
  top: 0;
  position: fixed;
  left: 0;
}
.Navigation .titleContent{
  color: rgba(0, 0, 0, 0.74);
  position: absolute;
  right: 5%;
  top: 0;
  font-size: 1rem;
  cursor: pointer;
  
}

/*Break none*/
.Navigation .linksContainer br{
  display: none;
}
/*Icons*/
.Navigation span i{
  display: inline-block;
  margin: 1.5vw;
  color: white;
  font-size: 1rem;
}
.Navigation span i:hover{
  border-bottom: 2px solid rgb(255, 255, 255);
  color:black;
  }
  
/*Sign out button*/
.Navigation .linksContainer .signout{
  position: absolute;
  right: 5%;
  padding: 8px;
  font-size: 1rem;
}
  .MobileTopBar{
    display: none;
  }

}
