.youtube{
    background: rgb(6, 9, 36);
    display: flex;
    height:1063px;
    padding-top:50px;
    position: relative;
    width: 100%;
    
}
.youtube h1{
    font-weight: 900;
    font-size: 35px;
    margin: 0;
    color: white;
    padding: 20px;
    
}
.youtube h3{
    color: white;
}
.youtube .videoContent { 
    max-width: 100%;
    height: 420px;
    left: 0;
    border-bottom: white 2px ridge;
}


 @media (max-width: 900px) {
.youtube .videoContent iframe {
    width: 100%;
    height: 350px;
    left: 0;

}
.youtube{
    
    display: block;
}
.youtube h3{
    color: white;
    padding: 20px;
}
.youtube .videoContent { 
    max-width: 100%;
    height: 470px;
    left: 0;
    border-bottom: white 2px ridge;
}
.youtube{
    background: rgb(6, 9, 36);
    
    height:5663px;
    width: 100%;
    
}      
 }