/*Pc*/

    .home{
        background: rgb(255, 255, 255);
        display: flex;
        height:100vh;
    
        
        
    }
    .home .leftContent{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home .rightContent{
        flex: 1;
        position: relative;
    }
    .home .leftWrapper{
        padding: 50px;
        height: 50%;
        flex-direction: column;
        justify-content: space-between;

    }
   
    .home .Titles{
        height: 50px;
        overflow: hidden;
    }
    .home .titleWrapper{
        height: 100%;
        animation: move 10s ease-in-out infinite alternate;

    }
    @keyframes move {
        25%{
            transform: translateY(-50px);
        }
        50%{
            transform: translateY(-100px);
        }
        100%{
            transform: translateY(-150px);
        }
    }
    .home .titleItem{
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #9db91f;
        align-items: center;
        display: flex;
        
    }
    .home .intro{
        font-size: 30px;
        font-weight: 300;
    }
    .home .myName{
        font-size: 60px;
    }
   
    .home .imgContent .aboutimg{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        position: absolute;
    
    } 
    .home .imgline{
        clip-path: polygon(100% 0% , 100% 5%, 100% 100%, 25% 100%, 0% 100%, 5% 0%);
        width: 100%;
        height: 100%;
        background-color: #9db91f;
        position: absolute;
        top: 0;
        right: 0;
    }

/*Mobile*/
@media (max-width: 900px) {    .home{
        flex-direction: column;
        
    }
    .home .imgContent .aboutimg{
        left: 0;
    }
    
    
}
